
/*Button css*/
#buttonSend > input {

    background: linear-gradient(to bottom, #0e0c0c 5%, #d0c4c4 100%);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 6px 34px;
    text-decoration: none;
}

                                  
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid { /* when a field is considered invalid by the browser */

background: #fff url(images/invalid.png) no-repeat 98% center;

box-shadow: 0 0 3px #d45252;

border-color: #b03535
}

textarea:invalid{
  box-shadow: 0 0 1px 1px red;

}

input:invalid {
  box-shadow: 0 0 1px 1px red;
}

